/* style MovieDetails*/

.navbar-search {
    position: absolute;
}
.movie-container {
    background-color: #080f28;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-details-container {
    display: flex;
    align-items: center;
}

.movie-img {
    margin-top: 100px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.movie-text-container {
    flex: 1;
}

.movie-title {
    color: #f1ecec;
    font-size: 24px;
}

.text-white {
    color: #f1ecec;
    font-size: 18px;
    max-width: 80%;
}

.text-container {
    align-items: center;
    display: flex;
}