.navbar {
    color: #fff;
    margin-bottom: 400px;

}


.navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 100px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 20px;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: #fff;
}



.containernavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;

}

.ml-auto {
    display: flex;
    align-items: center;

}

.input-form {
    color: inherit;
    padding: .25rem 1rem;
    border: 1px solid rgba(61, 79, 145, .5);
    border-radius: 2rem;
    margin-right: 0.5rem;
    width: 250px;
    background-color: rgba(8, 15, 40, .5);
}