/* style MoviePreview.css */
.boxbody{
    margin-bottom: 20px;
}

.titlemovie {
    color: #f1ecec;
    position: absolute;
    top: 670px;
    left: 120px;
    font-size: 40px;
    background-color: rgba(8,15,40,.5);
    border: 1px solid rgba(61,79,145,.5);
}

.descriptionmovie {
    color: #f1ecec;
    position: absolute;
    top: 730px;
    left: 120px;
    font-size: 15px;
    width: 85%;

}

.expandButton {
    cursor: pointer;
    color: blue;
    margin-left: 5px;
}


@media (max-width: 480px) {
    .titlemovie {
        top: 110%;
        left: 20px;
        font-size: 20px;
    }

    .descriptionmovie {
        top: 115%;
        left: 20px;
        font-size: 12px;
    }

    .boxbody{
        margin-top: 80%;
    }
}


