/* style MoviePreview.css */
.boxmain {
    width: 100%;
}

@media (max-width: 828px) {
    .boxmain {
        width: 500px;
    }
}

.viewtrailer {
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;
    overflow: hidden; /* Added overflow property to contain the video */
}

.reproductor {
    margin-top: -300px;
    margin-left: 250px;
}


@media (max-width: 828px) {
    .reproductor {
        margin-top: -300px;
        margin-left: 0px;
    }
}

.buttonclose {
    background-color: #f86e56;
    color: #f1ecec;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    right: 220px;
}

@media (max-width: 828px) {
    .buttonclose {
        right: 200px;
    }
}

.boxbuttontrailer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 300px;
}

.buttontrailer {
    background-color: #f86e56;
    color: #f1ecec;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.titlemovie {
    color: #f1ecec;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    
}

@media (max-width: 828px) {
    .titlemovie {
        top: 46%;
        left: 50%;
        width: 300px;
    }
}

@media (max-width: 480px) {
    .titlemovie {
        top: 55%;
        left: 58%;
        width: 300px;
    }
}

@media (max-width: 375px) {
    .titlemovie {
        top: 70%;
        left: 50%;
        width: 250px;
    }
}