/*style Navbar*/
.navlink {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-home {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
}

.link-brand,
.link-home {
    text-decoration: none;
    color: #fff;
}

.containernavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.ml-auto {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.input-form {
    color: inherit;
    padding: .25rem 1rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
    width: 250px;
    background-color: rgba(8, 15, 40, .5);
}

.titlepage {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

}

@media (max-width: 480px) {
    .navlink {
        margin-left: 0px;
    }
}